In [1]:
def print_score(estimator):
    # model evaluate
    # 1. 直接比对真实值和预测值  
    y_predict = estimator.predict(x_test)  
    print(f"y_predict={y_predict}")
    print(f"y_test == y_predict:\n{y_test == y_predict}")

    y_predict_proba = estimator.predict_proba(x_test)
    print(f"y_predict_proba=\n{y_predict_proba}")

    # 2. 计算准确率  
    score = estimator.score(x_test,y_test)
    print(f"score:{score}")

In [2]:
# dataset link
# https://biostat.app.vumc.org/wiki/pub/Main/DataSets/titanic.txt

# 部分数据有缺失

# 获取数据
import pandas as pd
titanic = pd.read_csv("../datasets/titanic/titanic.txt")

titanic.head()

,row.names,pclass,survived,name,age,embarked,home.dest,room,ticket,boat,sex
0,1,1st,1,"Allen, Miss Elisabeth Walton",29.0000,Southampton,"St Louis, MO",B-5,24160 L221,2,female
1,2,1st,0,"Allison, Miss Helen Loraine",2.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
2,3,1st,0,"Allison, Mr Hudson Joshua Creighton",30.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,(135),male
3,4,1st,0,"Allison, Mrs Hudson J.C. (Bessie Waldo Daniels)",25.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
4,5,1st,1,"Allison, Master Hudson Trevor",0.9167,Southampton,"Montreal, PQ / Chesterville, ON",C22,NaN,11,male

In [3]:
# 筛选特征值 目标值

x = titanic[["pclass","age","sex"]]
y = titanic["survived"]
x.tail()

     pclass  age     sex
1308    3rd  NaN    male
1309    3rd  NaN    male
1310    3rd  NaN    male
1311    3rd  NaN  female
1312    3rd  NaN    male

In [4]:
# 缺失值处理
# x['age'].fillna(0, inplace=True)
x['age'].fillna(x['age'].mean(), inplace=True)
x.tail()

D:\source\tools\miniconda\lib\site-packages\pandas\core\generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

     pclass        age     sex
1308    3rd  31.194181    male
1309    3rd  31.194181    male
1310    3rd  31.194181    male
1311    3rd  31.194181  female
1312    3rd  31.194181    male

In [5]:
# 特征转换为字典
x = x.to_dict(orient="records")

In [6]:
len(x)

1313

In [7]:
# 划分数据集
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=22)

In [8]:
# 字典特征抽取
from sklearn.feature_extraction import DictVectorizer
transform = DictVectorizer()
x_train = transform.fit_transform(x_train)
x_test = transform.transform(x_test)

In [14]:
# 决策树
from sklearn.tree import DecisionTreeClassifier
estimator = DecisionTreeClassifier(criterion="entropy",max_depth=8)
estimator.fit(x_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=8)

In [10]:
# 网格搜索

# from sklearn.model_selection import GridSearchCV
# params = {
#     "criterion":["gini","entropy"],
#     "max_depth":range(0,30)
# }
# clf = GridSearchCV(estimator,params)
# clf.fit(x_train, y_train)
# clf.best_params_

In [11]:
# 可视化
from sklearn.tree import export_graphviz
export_graphviz(estimator,out_file="./out/titanic_default_tree.dot",feature_names=transform.get_feature_names_out())
# export_graphviz(clf,out_file="./out/titanic_gv_tree.dot",feature_names=transform.get_feature_names_out())

In [15]:
# 模型评估
print("默认")
print_score(estimator)

默认
y_predict=[0 0 0 0 1 1 1 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 1 0 1 0 1 0 0 0
 0 0 0 0 0 0 0 0 0 1 1 0 1 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0
 0 1 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 0 0 0 0 0 0 0 0 0 0 1
 0 1 0 0 0 0 0 0 0 0 0 1 0 0 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 1 1
 1 0 0 0 0 0 0 0 1 0 0 0 0 0 1 1 0 1 0 0 0 0 1 0 0 0 0 0 1 1 1 1 0 0 0 0 0
 0 0 0 1 1 1 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 1 0 0 0 0 0 1 0
 0 0 1 0 0 0 0 0 0 1 0 0 0 0 1 0 1 0 0 0 1 0 0 1 0 0 0 0 1 0 1 0 0 0 0 1 0
 0 1 1 1 0 0 1 1 1 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 1
 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 1 0 1 0 0 0 0 1]
y_test == y_predict:
831      True
261      True
1210     True
1155     True
255      True
        ...
1146     True
1125    False
386      True
1025    False
337      True
Name: survived, Length: 329, dtype: bool
y_predict_proba=
[[0.5        0.5       ]
 [0.69148936 0.30851064]
 [0.90191388 0.09808612]
 [0.68181818 0.31818182]
 [0.         1.        ]
 [0.         1.        ]
 [0.36363636 0.63636364]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.05454545 0.94545455]
 [0.68181818 0.31818182]
 [0.4        0.6       ]
 [0.69148936 0.30851064]
 [0.66666667 0.33333333]
 [0.68181818 0.31818182]
 [0.68181818 0.31818182]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.68181818 0.31818182]
 [0.68181818 0.31818182]
 [0.90191388 0.09808612]
 [0.69148936 0.30851064]
 [0.         1.        ]
 [1.         0.        ]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.         1.        ]
 [0.         1.        ]
 [0.90191388 0.09808612]
 [0.05454545 0.94545455]
 [0.84210526 0.15789474]
 [0.12903226 0.87096774]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [1.         0.        ]
 [0.5        0.5       ]
 [1.         0.        ]
 [0.69148936 0.30851064]
 [1.         0.        ]
 [0.90191388 0.09808612]
 [0.68181818 0.31818182]
 [0.90191388 0.09808612]
 [0.69148936 0.30851064]
 [0.         1.        ]
 [0.         1.        ]
 [0.90191388 0.09808612]
 [0.         1.        ]
 [0.90191388 0.09808612]
 [0.4        0.6       ]
 [0.90191388 0.09808612]
 [1.         0.        ]
 [0.68181818 0.31818182]
 [0.68181818 0.31818182]
 [0.8        0.2       ]
 [0.         1.        ]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [1.         0.        ]
 [0.90191388 0.09808612]
 [0.69148936 0.30851064]
 [0.69148936 0.30851064]
 [0.68181818 0.31818182]
 [0.36363636 0.63636364]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.         1.        ]
 [0.90191388 0.09808612]
 [0.68181818 0.31818182]
 [0.68181818 0.31818182]
 [0.5        0.5       ]
 [0.         1.        ]
 [0.68181818 0.31818182]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.         1.        ]
 [0.69148936 0.30851064]
 [0.05454545 0.94545455]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.71428571 0.28571429]
 [0.68181818 0.31818182]
 [0.90191388 0.09808612]
 [0.71428571 0.28571429]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.         1.        ]
 [0.69148936 0.30851064]
 [0.         1.        ]
 [0.90191388 0.09808612]
 [0.12903226 0.87096774]
 [0.68181818 0.31818182]
 [0.         1.        ]
 [0.90191388 0.09808612]
 [0.68181818 0.31818182]
 [0.68181818 0.31818182]
 [0.84210526 0.15789474]
 [0.69148936 0.30851064]
 [1.         0.        ]
 [0.69148936 0.30851064]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.12903226 0.87096774]
 [0.69148936 0.30851064]
 [0.05454545 0.94545455]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.68181818 0.31818182]
 [0.69148936 0.30851064]
 [0.68181818 0.31818182]
 [0.69148936 0.30851064]
 [0.69148936 0.30851064]
 [0.8        0.2       ]
 [0.68181818 0.31818182]
 [0.         1.        ]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.         1.        ]
 [0.         1.        ]
 [0.68181818 0.31818182]
 [0.         1.        ]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.5        0.5       ]
 [0.69148936 0.30851064]
 [0.69148936 0.30851064]
 [0.8        0.2       ]
 [1.         0.        ]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.69148936 0.30851064]
 [0.05454545 0.94545455]
 [0.         1.        ]
 [0.68181818 0.31818182]
 [0.90191388 0.09808612]
 [0.69148936 0.30851064]
 [0.68181818 0.31818182]
 [0.05454545 0.94545455]
 [0.         1.        ]
 [0.05454545 0.94545455]
 [0.69148936 0.30851064]
 [0.68181818 0.31818182]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.69148936 0.30851064]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.4        0.6       ]
 [0.69148936 0.30851064]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.33333333 0.66666667]
 [0.         1.        ]
 [0.90191388 0.09808612]
 [0.         1.        ]
 [0.90191388 0.09808612]
 [0.69148936 0.30851064]
 [0.68181818 0.31818182]
 [0.71428571 0.28571429]
 [0.12903226 0.87096774]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.68181818 0.31818182]
 [0.84210526 0.15789474]
 [0.12903226 0.87096774]
 [0.         1.        ]
 [0.         1.        ]
 [0.         1.        ]
 [1.         0.        ]
 [0.90191388 0.09808612]
 [0.69148936 0.30851064]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [1.         0.        ]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.05454545 0.94545455]
 [0.         1.        ]
 [0.36363636 0.63636364]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.         1.        ]
 [0.12903226 0.87096774]
 [0.         1.        ]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [1.         0.        ]
 [0.69148936 0.30851064]
 [0.90191388 0.09808612]
 [0.68181818 0.31818182]
 [0.90191388 0.09808612]
 [0.12903226 0.87096774]
 [0.68181818 0.31818182]
 [0.90191388 0.09808612]
 [0.68181818 0.31818182]
 [0.68181818 0.31818182]
 [0.90191388 0.09808612]
 [0.12903226 0.87096774]
 [0.         1.        ]
 [0.90191388 0.09808612]
 [1.         0.        ]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.         1.        ]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.66666667 0.33333333]
 [0.12903226 0.87096774]
 [0.5        0.5       ]
 [0.90191388 0.09808612]
 [0.8        0.2       ]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.68181818 0.31818182]
 [0.         1.        ]
 [1.         0.        ]
 [0.68181818 0.31818182]
 [0.5        0.5       ]
 [0.69148936 0.30851064]
 [0.12903226 0.87096774]
 [0.90191388 0.09808612]
 [0.         1.        ]
 [1.         0.        ]
 [0.90191388 0.09808612]
 [0.69148936 0.30851064]
 [0.         1.        ]
 [0.90191388 0.09808612]
 [0.66666667 0.33333333]
 [0.         1.        ]
 [0.90191388 0.09808612]
 [1.         0.        ]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.12903226 0.87096774]
 [0.68181818 0.31818182]
 [0.05454545 0.94545455]
 [0.68181818 0.31818182]
 [0.90191388 0.09808612]
 [0.68181818 0.31818182]
 [0.66666667 0.33333333]
 [0.12903226 0.87096774]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.12903226 0.87096774]
 [0.         1.        ]
 [0.         1.        ]
 [1.         0.        ]
 [0.90191388 0.09808612]
 [0.05454545 0.94545455]
 [0.         1.        ]
 [0.05454545 0.94545455]
 [1.         0.        ]
 [0.05454545 0.94545455]
 [0.68181818 0.31818182]
 [1.         0.        ]
 [0.90191388 0.09808612]
 [0.8        0.2       ]
 [0.68181818 0.31818182]
 [0.69148936 0.30851064]
 [0.68181818 0.31818182]
 [0.         1.        ]
 [0.69148936 0.30851064]
 [0.68181818 0.31818182]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [1.         0.        ]
 [0.68181818 0.31818182]
 [0.90191388 0.09808612]
 [0.05454545 0.94545455]
 [0.69148936 0.30851064]
 [0.68181818 0.31818182]
 [0.68181818 0.31818182]
 [0.68181818 0.31818182]
 [0.4        0.6       ]
 [0.         1.        ]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.68181818 0.31818182]
 [0.12903226 0.87096774]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.69148936 0.30851064]
 [0.90191388 0.09808612]
 [0.68181818 0.31818182]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [1.         0.        ]
 [0.69148936 0.30851064]
 [0.90191388 0.09808612]
 [0.68181818 0.31818182]
 [0.69148936 0.30851064]
 [0.         1.        ]
 [0.68181818 0.31818182]
 [1.         0.        ]
 [0.68181818 0.31818182]
 [0.68181818 0.31818182]
 [0.69148936 0.30851064]
 [0.71428571 0.28571429]
 [0.         1.        ]
 [0.05454545 0.94545455]
 [1.         0.        ]
 [0.         1.        ]
 [0.90191388 0.09808612]
 [0.90191388 0.09808612]
 [1.         0.        ]
 [0.68181818 0.31818182]
 [0.         1.        ]]
score:0.7811550151975684

In [13]:
print("网格搜索")
print_score(clf)

网格搜索

NameError: name 'clf' is not defined